<!doctype html>
<html>
<head>
</head>
<body>
  <h1>user ip access management : ${user}</h1>
  % if is_admin:
  <h2 style='color:red'>you are admin</h2>
  % endif
  <form method='post'>
    ip: <input type='text' name="add-ip" value="${remote_ip}" /><br />
    note: <input type='text' name="add-ip-note" value="" /><br />
    <input type='submit' name='add-ip-btn' value='Add IP' />
  <table border=1>
    <thead>
      <th>user</th>
      <th>currently allowed</th>
    </thead>
    <tbody>
      % for u in users:
      <tr>
	<td>${u}</td>
	<td>
	  <dl>
	    % for r in rules[u]:
	    <dt>${r['source']} - ${r['note']}</dt>
	    <dd>${r['pkts']} pkts ; ${r['age']} old <input type='submit' value='revoke' name='revoke-${u}-${r['cnt']}-${r['source']}' /></dd>
	    % endfor
	  </dl>
	</td>
      </tr>
      % endfor
    </tbody>
    </table>
  </form>
</body>
</html>
